* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  width: 30%;
}

img {
  width: 25%;
  margin: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  padding: 20px;
  border: 1px solid #bbd1dd;
  border-radius: 4px;
}

h1 {
  color: #1f5d82;
}

label,
span {
  font-weight: bold;
  color: #1f5d82;
}

input,
select {
  width: 30vh;
  height: 35px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #bbd1dd;
  outline: none;
}

input[type="date"],
select {
  text-align: center;
}

button {
  height: 35px;
  width: 15vh;
  background-color: #f87847;

  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

button:hover {
  background-color: #1f5d82;
}

.inputErro {
  border-color: red;
}

.textoErro {
  color: red;
  font-size: 12px;
}
