* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  color: #1f5d82;
}

header {
  width: 100%;
  height: 100px;
  background-color: #1f5d82;
  display: flex;
  flex: 1;
  align-items: center;
}

.logo {
  padding-left: 300px;
}

nav {
  margin-left: auto;
  margin-right: 300px;
}

.botao-menu {
  font-size: 18px;
  color: white;
  padding: 10px;
  font-weight: 500;
}

.botao-menu:hover {
  border-radius: 5px;
  background-color: #f87847;
}

.imagem-promo {
  margin-left: 300px;
  margin-top: 55px;
}

.encapsula-cartoes {
  margin: 0px 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 92px;
}

.cartao {
  width: 340px;
  height: 350px;
  border: 1px solid #1f5d82;
  border-radius: 8px;
}

.imagem {
  width: 330px;
  margin: 5px 5px 0px 5px;
  border-radius: 4px;
}

.cidade {
  font-size: 22px;
  margin: 10px;
  font-style: italic;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 10px;
}

div.flex > div > p {
  font-weight: 500;
  font-size: 18px;
}

div.flex > div > h4 {
  font-weight: 800;
  font-size: 18px;
}

.botao-visualizar {
  font-size: 16px;
  color: white;
  background-color: #f87847;
  padding: 8px;
  border-radius: 8px;
}

.botao-visualizar:hover {
  background-color: #1f5d82;
}

section > h4 {
  margin-left: 300px;
  padding: 20px 0px;
  font-weight: 700;
  font-size: 22px;
}

.campo-busca {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0px 300px;
  margin-bottom: 75px;
}

input[type="text"] {
  flex-grow: 1;
  border: 1px solid gray;
  border-radius: 5px;
  height: 30px;
}

input[type="date"] {
  border: 1px solid gray;
  border-radius: 8px;
  height: 30px;
}

label {
  margin-right: 10px;
}

button {
  font-size: 15px;
  color: white;
  background-color: #f87847;
  border-radius: 8px;
  padding: 6px 55px;
}

button:hover {
  background-color: #1f5d82;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #1f5d82;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > p {
  margin-right: 200px;
  font-size: 12px;
  color: white;
}
